<!DOCTYPE html>
<html>
<head>
  <title>Link Shortener</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container" style="font-size:3rem">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "All links", links_path %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to "Create link", new_link_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<%# Rails flash messages styled for Bootstrap 4.0 %>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>" style="font-size:3rem">
    <%= value %>
  </div>
<% end %>
<div class="container" style="font-size:3rem">
  <%= yield %>
</div>
</body>
</html>
